<app-navbar></app-navbar>

<section class="about-content-2" *ngIf="showSubmitMessage">
  <p class="find-job-text-1">Thank You For Your Message</p>
</section>
<section class="about-content" *ngIf="hideSubmitMessage">
  <p class="find-job-text-1">Contact Us</p>
</section>
<section class="about-text" *ngIf="hideSubmitMessage">
  <div class="about-text-left">
    <img src="assets/images/slack.svg">
  </div>
  <form>
    <div class="contact-block-1">
      <div>
        <label>Name*</label>
        <input placeholder="Name">
      </div>
      <div>
        <label>Name*</label>
        <input placeholder="Name">
      </div>
    </div>
    <div class="contact-block-1">
      <textarea></textarea>
    </div>
    <div class="contact-block-2">
      <a class="contact-btn" (click)="submitContactMessage()">Submit</a>
    </div>
  </form>
</section>

<app-footer></app-footer>
<div class="footer-content">@ 2020 PICANTE BY 00000 000000 ALL RIGHTS RESERVED</div>

