.toggle-menu {
  padding-left: 20px;
  font-size: 26px;
  /*display: none;*/
  justify-content: flex-end;
  padding-top: 30px;
}
.toggle-menu:hover {
  cursor: pointer;
}
.toggle-menu-open {
  display: flex;
}


/* DASHBOARD NAV BAR STYLES */
.dashboard {
  background: #F1F2F7;
}
.dashboard-header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F1F2F7;
  padding: 0;
}
.dashboard-logo {
  padding-left: 48px;
  padding-right: 180px;
  cursor: pointer;
}
.dashboard-header .navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-text-1 {
  width: 240px;
  height: 60px;
  border-radius: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  font-size: 20px;
  color: #757575;
  font-family: "Segoe Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}
.dashboard-text-1 img {
  margin-right: 10px;
}
.dashboard-text-2 {
  width: 740px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 30px;
}
.dashboard-text-2 input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-left: 30px;
  font-size: 20px;
  color: #000;
  font-family: "Segoe Regular";
  border: 0;
  border-radius: 30px;
}
.dashboard-text-3 {
  width: 60px;
  height: 60px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #B8B8B829;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: absolute;
  right: 0;
}
.dashboard-text-4 {
  margin-left: 30px;
}
.dashboard-text-5 {
  width: 110px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 0px 50px;
  background: white;
}
.dashboard-text-4 {
  display: flex;
  justify-content: space-between;
}
.dashboard-text-6 {
  width: 280px;
  height: 100px;
  background: #272C32;
  color: white;
  font-size: 20px;
  font-family: "Segoe Regular";
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-text-6:hover {
  color: white;
  cursor: pointer;
}
.dashboard-text-6 .dropdown-toggle::after {
  display: none;
}
.dashboard-text-6 i {
  color: white;
}
.dropdown.dashboard-text-6.show i {
  transform: rotate(180deg);
}
.dashboard-text-6 .dropdown-menu {
  top: 7px !important;
  right: 0 !important;
  border-radius: 0px 0px 50px 50px;
  left: 3px  !important;
  height: 126px;
  color: #CCCCCC;
  font-size: 20px;
  padding: 0;
}
.dashboard-text-6 .dropdown-item {
  height: 63px;
  font-size: 20px;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 50px 50px;
}
.dashboard-text-6 .dropdown-item img {
  margin-right: 30px;
  width: 25px;
}
