<form>

<div class="save-work-experience">
  <i class="fas fa-times dialogs-close-btn" mat-dialog-close></i>
  <div class="work-header">
    <img src="../../../assets/images/decor-3.svg">
    <p class="work-text-1">Programing Skills</p>
  </div>
  <div class="add-programming-items">
    <div class="work-experience-input">
      <label>Name of the skill</label>
      <input placeholder="Name of the skill">
    </div>
    <div class="work-experience-input">
      <label>How Well You Know it?</label>
      <input placeholder="0%">
    </div>
  </div>
  <div class="add-programming-skills">
    <div class="add-plus"><img src="../../../assets/images/plus.svg"></div>
    <div class="add-text">Add One More <span>Skill.</span></div>
  </div>


  <div class="work-buttons">
    <a class="work-add-edit-2">Cancel</a>
    <a class="work-add-edit-1">Save</a>
  </div>
</div>
</form>
