

<section class="find-job-content">
  <p class="find-job-text-1">Find Your Dream Job Here</p>
  <div class="find-job-section-1">
    <div class="find-job-left">
      <img src="../../../assets/images/job-man.png">
      <p class="find-job-text-2">Job Title Or Keyword</p>
    </div>
    <div class="find-job-left">
      <img src="../../../assets/images/job-search.png">
      <p class="find-job-text-2">Select Location</p>
    </div>
    <div class="position-relative">
      <input class="find-job-right" placeholder="Search">
      <i class="fas fa-search find-job-right-icon"></i>
    </div>
  </div>
</section>
<section class="find-job-block">
  <div class="find-job-block-left dream-job-left-block">
    <a class="top-jobs-text">Top Jobs</a>
    <div class="dream-job-left">
      <div class="top-jobs-item">
        <div class="top-jobs-item-left">
          <img src="../../../assets/images/muzica.png">
        </div>
        <div class="top-jobs-item-right">
          <p class="top-text-1">Office Assistant</p>
          <p class="top-text-2">Founders:<span>4days ago</span></p>
        </div>
      </div>
      <div class="top-jobs-item">
        <div class="top-jobs-item-left">
          <img src="../../../assets/images/ideaa.png">
        </div>
        <div class="top-jobs-item-right">
          <p class="top-text-1">Office Assistant</p>
          <p class="top-text-2">Founders:<span>4days ago</span></p>
        </div>
      </div>
      <div class="top-jobs-item">
        <div class="top-jobs-item-left">
          <img src="../../../assets/images/muzica.png">
        </div>
        <div class="top-jobs-item-right">
          <p class="top-text-1">Office Assistant</p>
          <p class="top-text-2">Founders:<span>4days ago</span></p>
        </div>
      </div>
      <div class="top-jobs-item">
        <div class="top-jobs-item-left">
          <img src="../../../assets/images/muzica.png">
        </div>
        <div class="top-jobs-item-right">
          <p class="top-text-1">Office Assistant</p>
          <p class="top-text-2">Founders:<span>4days ago</span></p>
        </div>
      </div>
      <div class="top-jobs-item">
        <div class="top-jobs-item-left">
          <img src="../../../assets/images/hex-lab.png">
        </div>
        <div class="top-jobs-item-right">
          <p class="top-text-1">Office Assistant</p>
          <p class="top-text-2">Founders:<span>4days ago</span></p>
        </div>
      </div>
      <div class="top-jobs-item">
        <div class="top-jobs-item-left">
          <img src="../../../assets/images/muzica.png">
        </div>
        <div class="top-jobs-item-right">
          <p class="top-text-1">Office Assistant</p>
          <p class="top-text-2">Founders:<span>4days ago</span></p>
        </div>
      </div>
      <div class="top-jobs-item">
        <div class="top-jobs-item-left">
          <img src="../../../assets/images/muzica.png">
        </div>
        <div class="top-jobs-item-right">
          <p class="top-text-1">Office Assistant</p>
          <p class="top-text-2">Founders:<span>4days ago</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="find-job-block-right position-relative">
    <img class="find-job-general" src="../../../assets/images/top-job-header.png">
    <div class="dream-job-content-2">
      <a class="go-back-to-job-btn"><i class="fas fa-chevron-left"></i>Go Back To The Jobs</a>
      <div class="top-job-header-abs">
        <img src="../../../assets/images/coca-cola.png">
      </div>
      <a class="go-back-to-job-btn">Apply To This Work<i class="fas fa-angle-right"></i></a>
    </div>
    <p class="dream-job-text-1">Office Assistant / Social Media Assistant</p>
    <div class="dream-job-block">
      <p class="dream-job-text-2">Australia - <span>Sydney / 23 Avenue</span></p>
      <p class="dream-job-text-3">Posted 1 week ago - <span> 12 Applicants</span></p>
    </div>
    <div class="dream-job-block-2">
      <div>
        <p class="dream-job-text-4">Experience</p>
        <p class="dream-job-text-5">3-5 Years</p>
      </div>
      <div>
        <p class="dream-job-text-4">Seniority Level</p>
        <p class="dream-job-text-5">Medium Level</p>
      </div>
      <div>
        <p class="dream-job-text-4">Employment</p>
        <p class="dream-job-text-5">Full-Time</p>
      </div>
      <div>
        <p class="dream-job-text-4">SaLary</p>
        <p class="dream-job-text-5">$90-110k</p>
      </div>
    </div>
    <p class="dream-job-text-6">Job Brief</p>
    <p class="dream-job-text-7">
      We are looking for a competent Office Assistant to help with the organization and running of the daily administrative operations of the company.
    </p>
    <p class="dream-job-text-6">What Does An Office Assistant Do?</p>
    <p class="dream-job-text-7">
      The ideal candidate will be a hard-working professional able to undertake a variety of office support tasks and work diligently under pressure.
      This person will be comfortable working with a high degree of attention to detail and discretion as well as incorporating new and effective ways to achieve better results.
    </p>
    <p class="dream-job-text-6">Responsibilities</p>
    <div class="dream-job-block-3">
      <label class="container">Organize office and assist associates in ways that optimize procedures
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="container">Sort and distribute communications in a timely manner
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">Create and update records ensuring accuracy and validity of information
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">Schedule and plan meetings and appointments
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">Monitor level of supplies and handle shortages
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">Resolve office-related malfunctions and respond to requests or issues
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">Coordinate with other departments to ensure compliance with established policies
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">Maintain trusting relationships with suppliers, customers and colleagues
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">Perform receptionist duties when needed
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
    <p class="dream-job-text-6">Requirements</p>
    <div class="dream-job-block-3">
      <label class="container">Proven experience as a back-office assistant, office assistant, virtual assistant or in another relevant administrative role
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="container">Knowledge of “back-office” computer systems (ERP software)
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="container">Working knowledge of office equipment
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="container">Thorough understanding of office management procedures
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="container">Excellent organizational and time management skills
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="container">Analytical abilities and aptitude in problem-solving
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="container">Excellent written and verbal communication skills
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="container">Proficiency in MS Office
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="dream-job-block-4">
      <div class="contact-media-info-left">
        <div class="media-left">
          <img src="assets/images/contact-img-1.png">
          Email
        </div>
        <div class="contact-center">
          info@Pavi.com
        </div>
      </div>
      <a class="go-back-to-job-btn">Apply To This Work<i class="fas fa-angle-right"></i></a>
      <div class="about-media-info-right">
        <div class="media-left">
          <img src="assets/images/about-img-2.svg"> Social Medias
        </div>
        <div>
          <img src="assets/images/about-img-3.svg">
        </div>
      </div>
    </div>
  </div>
</section>
