<nav class="dashboard-header">
  <img class="dashboard-logo" src="../../../../assets/images/logo.png">
    <a class="dashboard-text-1">
        <img src="../../../../assets/images/directional.png">
        Back To Website
      </a>
    <div class="dashboard-text-2">
        <input placeholder="Search">
        <span class="dashboard-text-3"><img src="../../../../assets/images/search-dash.png"></span>
      </div>
    <div class="dashboard-text-4">
        <div class="dashboard-text-5">
          <img src="../../../../assets/images/camera.png">
        </div>
        <div class="dropdown dashboard-text-6">
          <a class="dropdown-toggle" type="button" id="dropdownUserInfo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Jessica Blume
            <img class="header-img" src="../../../../assets/images/img-dash.png">
            <i class="fas fa-chevron-down"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownUserInfo">
            <a class="dropdown-item"><img class="header-img" src="assets/images/social-media-profile.png">My Profile</a>
            <a class="dropdown-item"><img class="header-img" src="assets/images/logout-profile.png">Logout</a>
          </div>
        </div>
      </div>
</nav>
<aside>
  <div>
    <ul>
      <li>
        <a class="active">
          <img src="../../../../assets/images/aside-1.png">
          <span>Jobs / Create Job</span>
        </a>
      </li>
      <li>
        <a>
          <img src="../../../../assets/images/aside-2.png">
          <span>Video Interviews</span>
        </a>
      </li>
      <li>
        <a>
          <img src="../../../../assets/images/aside-3.png">
          <span>Interview Questions</span>
        </a>
      </li>
      <li>
        <a>
          <img src="../../../../assets/images/aside-4.png">
          <span>My Profile</span>
        </a>
      </li>
    </ul>
  </div>
  <ul>
    <li>
      <a>
        <img src="../../../../assets/images/logout.png">
        <span>Log Out</span>
      </a>
    </li>
  </ul>
</aside>
<main>
  <div class="toggle-menu" (click)="openAside()">
    <i class="fas fa-bars"></i>
  </div>
  <div class="dashboard-text-7">
    <div class="dashboard-text-item">
      <div class="dashboard-text-item-text">
        <div class="dashboard-text-8"><img src="../../../../assets/images/dash-img-10.png"></div>
        <div class="dashboard-text-9">Active Jobs</div>
      </div>
      <div class="see-all-list">
        See All List
        <i class="fas fa-chevron-right"></i>
      </div>
      <span class="dashboard-7-span-1"></span>
      <span class="dashboard-7-span-2"></span>
    </div>
    <div class="dashboard-text-item">
      <div class="dashboard-text-item-text">
        <div class="dashboard-text-8"><img src="../../../../assets/images/dash-img-11.png"></div>
        <div class="dashboard-text-9">Create New Job</div>
      </div>
      <div class="see-all-list">
      </div>
      <span class="dashboard-7-span-1"></span>
      <span class="dashboard-7-span-2"></span>
    </div>
  </div>
</main>
