<form [formGroup]="accountInfoFormGroup">
  <p class="login-text-7">Company</p>
  <div class="line-block">
    <span class="line-1"></span>
    <span>OR</span>
    <span class="line-1"></span>
  </div>
  <div class="register-block-1">
    <div>
      <div class="login-item">
        <label class="logos-item-label">First Name</label>
        <input formControlName="first_name" placeholder="First Name*" class="logos-item-input">
      </div>
      <div class="login-item">
        <label class="logos-item-label">Password</label>
        <input type="password" formControlName="password" placeholder="Password*" class="logos-item-input">
      </div>
    </div>
    <div>
      <div class="login-item">
        <label class="logos-item-label">Last Name</label>
        <input formControlName="last_name" placeholder="Last Name*" class="logos-item-input">
      </div>
      <div class="login-item">
        <label class="logos-item-label">Gender</label>
        <div class="gender">
          <div>
            <input type="radio" name="gender" checked [value]="'male'" id="male" formControlName="gender">
            <label for="male">Male</label>
          </div>
          <div>
            <input type="radio" name="gender" [value]="'female'" id="female" formControlName="gender">
            <label for="female">Female</label><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="last-block-form">
    <div class="register-buttons">
      <button class="reset-btn" matStepperPrevious><i class="fas fa-chevron-left"></i>Previous</button>
    </div>
    <div class="register-buttons">
      <button class="login-btn" matStepperNext>Next<i class="fas fa-chevron-right"></i></button>
    </div>
  </div>
</form>



