<app-navbar></app-navbar>

<section class="section-block-8 cover-image" [style.backgroundImage]="'url('+coverImage+')'">
  <div class="section-block-9"></div>
</section>

<section class="section-block-10">
  <div class="section-block-10-item">
    <!--    <img class="change-photo-img" [src]="profileImage">-->
    <div class="profile-image change-photo-img" [style.backgroundImage]="'url('+profileImage+')'"></div>
    <form [formGroup]="profileImgTextForm">

      <div class="mask-img" *ngIf="showProfileImgTextControls">
        <label class="mask-content" for="profile-image">
          <img src="assets/images/mask.png"><span>Change Photo</span>
          <input id="profile-image" type="file" (change)="changeProfileImage($event)">
        </label>
      </div>
      <div class="item-content">

        <p class="mask-text-1">
          <!--          <img src="../../../assets/images/profile-page-3.svg">-->
          <span class="profile-text-2">About</span>
        </p>
        <p class="profile-text-1" *ngIf="!showProfileImgTextControls">
          {{aboutText.profile_desc}}
        </p>
        <textarea *ngIf="showProfileImgTextControls" formControlName="about_text">

        </textarea>
      </div>
    </form>
    <div class="edit-delete-save-btns">
      <!--      <a class="profile-delete-btn">Delete</a>-->
      <a class="profile-save-2-btn" *ngIf="showProfileImgTextControls" (click)="saveAboutText()">Save</a>
      <a class="profile-edit-btn" (click)="toggleProfileImgText()" *ngIf="!showProfileImgTextControls">
        Edit<i class="fas fa-chevron-right"></i>
      </a>
    </div>
  </div>
  <div class="section-block-10-item-2">
    <div class="section-block-10-header">
      <p class="mask-text-2">{{authUser.first_name + ' ' + authUser.last_name}}</p>
      <form [formGroup]="coverImgForm">
        <label class="mask-content-2" for="cover-image" *ngIf="showProfileImgTextControls">

          <img src="assets/images/mask.png"><span>Change Photo</span>
          <input id="cover-image" type="file" (change)="changeCoverImage($event)">
        </label>
      </form>
    </div>

    <div class="section-block-10-content">


      <mat-horizontal-stepper [linear]="isLinear" #stepper [selectedIndex]="currentStep-1" labelPosition="bottom"
                              (selectionChange)="stepChanged($event)">

        <ng-template matStepperIcon="edit" let-index="index">
          <i class="fa fa-user" *ngIf="index === 0"></i>
          <i class="far fa-file-user" *ngIf="index === 1"></i>
          <i class="fas fa-file-pdf" *ngIf="index === 2"></i>
          <i class="fas fa-cog"  *ngIf="index === 3"></i>
        </ng-template>

        <!-- Custom icon with a context variable. -->
        <ng-template matStepperIcon="number" let-index="index">
          <i class="fa fa-user" *ngIf="index === 0"></i>
          <i class="far fa-file-user" *ngIf="index === 1"></i>
          <i class="fas fa-file-pdf" *ngIf="index === 2"></i>
          <i class="fas fa-cog"  *ngIf="index === 3"></i>
        </ng-template>

        <!-- Step 1 -->
        <mat-step label="Step 1">
          <ng-template matStepLabel>About</ng-template>
          <app-about-tab></app-about-tab>
        </mat-step>

        <!-- Step 2 -->
        <mat-step label="Step 2">
          <ng-template matStepLabel>CV/Resume</ng-template>
          <app-cv-portfolio-tab></app-cv-portfolio-tab>
        </mat-step>

        <!-- Step 3 -->
        <mat-step label="Step 3">
          <ng-template matStepLabel>Social Medias<br> PDF</ng-template>
        </mat-step>

        <!-- Step 4 -->
        <mat-step label="Step 4">
          <ng-template matStepLabel>Settings</ng-template>
        </mat-step>

      </mat-horizontal-stepper>


    </div>
  </div>
</section>

<ng-container *ngIf="currentStep === 1">
  <app-jobs-section></app-jobs-section>
</ng-container>
<ng-container *ngIf="currentStep === 2">
  <app-portfolio-section></app-portfolio-section>
</ng-container>
<app-footer></app-footer>
<div class="footer-content">@ 2020 PICANTE BY 00000 000000 ALL RIGHTS RESERVED</div>


