
input[type="file"] {
  display: none;
}

.change-photo-img {
  width: 500px;
}

.profile-image {
  background-size: cover;
  height: 420px;
}

textarea {
  resize: none;
  width: 400px;
  margin-top: 10px;
  word-break: break-all;
  overflow: hidden;
}
@media (max-width: 767px) {
  .change-photo-img {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .profile-image {
    height: 250px;
  }
}
