.profile-edit-btn {

}

input[type="file"] {
  display: none;
}

.change-photo-img {
  width: 500px;
}

.profile-image {
  background-size: cover;
  height: 420px;
}

textarea {
  resize: none;
  width: 400px;
}
