<div class="save-work-experience">
  <i class="fas fa-times dialogs-close-btn" mat-dialog-close></i>
  <div class="work-header">
    <img src="../../../assets/images/decor-3.svg">
    <p class="work-text-1">Certification</p>
  </div>
  <div class="add-programming-items">
    <div class="work-experience-input">
      <label>Name Certification</label>
      <input placeholder="Name Certification">
    </div>
    <div class="work-experience-input">
      <label>Description</label>
      <input placeholder="Description">
    </div>
    <div class="work-experience-input">
      <label>Issued By</label>
      <input placeholder="Speciaty">
    </div>
    <div class="work-experience-input">
      <label>Year Of Study</label>
      <div class="work-date-input">
        <input placeholder="2012">
        <input placeholder="2016">
      </div>
    </div>
  </div>
  <div class="add-programming-skills">
    <div class="add-plus"><img src="../../../assets/images/plus.svg"></div>
    <div class="add-text">Add One More <span>Certification.</span></div>
  </div>


  <div class="work-buttons">
    <a class="work-add-edit-2">Cancel</a>
    <a class="work-add-edit-1">Save</a>
  </div>
</div>
