<form>
  <div class="form-elements resume-items">
    <div class="profile-item">
      <label class="resume-label"><img src="assets/images/technology.png">Phone:</label>
      <input placeholder="+1 123 455 7890" formControlName="phone">
    </div>
    <div class="profile-item">
      <img src="assets/images/hand.svg">
      <p class="resume-text-1">Interior Designer</p>
      <a class="resume-change-btn">Change</a>
    </div>
    <div class="profile-item">
      <label class="resume-label"><img src="assets/images/architecture.png">Country:</label>
      <input placeholder="Usa" formControlName="country">
    </div>
    <div class="profile-item">
      <label class="resume-label"><img src="assets/images/interface.png">Date Of Birth::</label>
      <input placeholder="May 25th, 1986." disabled>
    </div>
    <div class="profile-item">
      <label class="resume-label"><img src="assets/images/interface.png">Email::</label>
      <input placeholder="hello@name.com" disabled>
    </div>
  </div>
</form>
