<div class="save-work-experience">
  <i class="fas fa-times dialogs-close-btn" mat-dialog-close></i>
  <div class="work-header">
    <img src="../../../assets/images/decor-1.svg">
    <p class="work-text-1">Work Experience</p>
  </div>
  <div class="work-experience-input">
    <label>Name Of Company</label>
    <input placeholder="Name Of Company">
  </div>
  <div class="work-experience-input">
    <label>Speciality</label>
    <input placeholder="Speciality">
  </div>
  <div class="work-experience-input">
    <label>Year Of Work</label>
    <div class="work-date-input">
      <input placeholder="2012">
      <input placeholder="2016">
    </div>
  </div>
  <div class="work-buttons">
    <a class="work-add-edit-2">Cancel</a>
    <a class="work-add-edit-1">Save</a>
  </div>
</div>
