<header>
  <a class="number-text-1">+1 (000) 000-0000</a>
  <p>Awesome weeks at Timbro! All "Affengeil" pictures 50% reduced & free shipping from 80 € ONLY FOR A SHORT TIME</p>
  <div class="header-first-left">
    <a>Refer a Friend</a>
    <a>FAQ</a>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-pinterest"></i>
    <i class="fab fa-twitter"></i>
    <a class="logout">Logout</a>
  </div>
</header>
<nav class="home-header navbar navbar-expand-lg navbar-light">
  <div class="header-left">
    <a class="header-left-logo navbar-brand" href="index.html">
      Logo
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="header-right collapse navbar-collapse nav-menu" id="navbarSupportedContent">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a class="active" href="">Find Job</a></li>
    </ul>
    <div class="header-btns">
      <input placeholder="Search for ...">
      <a class="search-btn"><i class="fas fa-search"></i></a>
    </div>
    <div class="header-small-block">
      <img class="header-img" src="assets/images/user.png">
      <div class="dropdown language-dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          En
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">USA</a>
          <a class="dropdown-item" href="#">Ru</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="section-block-8">
  <div class="section-block-9"></div>
</section>
<section class="section-block-10">
  <div class="section-block-10-item">
    <img class="change-photo-img" src="assets/images/profile-page-2.svg">
    <div class="mask-img">
      <div class="mask-content">
        <img src="assets/images/mask.png"><span>Change Photo</span>
      </div>
    </div>
    <div class="item-content">
      <p class="mask-text-1">
        <img src="assets/images/profile-page-3.svg">
        <span  class="profile-text-2">About</span>
      </p>
      <p class="profile-text-1">
        Kim Yo-jong is the younger sister of North Korean leader Kim Jong-un. She joined the Workers' Party of Korea (WPK) in 2007, eventually serving as secretariat to her father,
        Kim Jong-il, until his death in 2011. Kim Yo-jong continued to ascend her party's ranks under her brother's rule,
        taking control of his image as first vice-department director of the Propaganda and Agitation Department and later becoming an alternate member of the WPK's
        powerful politburo. After making a highly publicized appearance at the 2018 Winter Olympics,
        Kim joined her brother for his denuclearization summits with U.S. President Donald Trump.
      </p>
    </div>
    <div class="edit-delete-save-btns">
      <a class="profile-delete-btn">Delete</a>
      <a class="profile-save-2-btn">Save</a>
      <a class="profile-edit-btn">Edit<i class="fas fa-chevron-right"></i></a>
    </div>
  </div>
  <div class="section-block-10-item-2">
    <div class="section-block-10-header">
      <p class="mask-text-2">Jessica Alba</p>
      <div class="mask-content-2">
        <img src="assets/images/mask.png"><span>Change Photo</span>
      </div>
    </div>
    <div class="section-block-10-content">
      <div class="section-block-10-info">
        <p class="profile-text-3">Contact Information</p>
        <a class="profile-save-btn">Save</a>
        <a class="profile-edit-profile-btn">Edit Profile</a>
      </div>
      <div class="section-block-10-form">
        <form>
          <div class="old-new-email">
            <div class="profile-item">
              <label>Old Email:</label>
              <input placeholder="hello@name.com">
            </div>
            <div class="profile-item">
              <label>New E-mail Address:</label>
              <input placeholder="New E-mail">
            </div>
          </div>
          <div class="changes-passwords">
            <div class="profile-item">
              <label>Old Password:</label>
              <input placeholder="AB********123">
            </div>
            <div class="profile-item">
              <label>New password:</label>
              <input placeholder="New Password">
            </div>
            <div class="profile-item">
              <label>Confirm New Password:</label>
              <input placeholder="Confirm New Password">
            </div>
          </div>
          <div class="form-elements">
            <div class="profile-item">
              <label>Phone:</label>
              <input placeholder="+1 123 455 7890">
            </div>
            <div class="profile-item">
              <label>Age:</label>
              <input placeholder="25">
            </div>
            <div class="profile-item">
              <label>Country:</label>
              <input placeholder="Usa">
            </div>
            <div class="profile-item">
              <label>Gender:</label>
              <input placeholder="Female">
            </div>
            <div class="profile-item">
              <label>Email:</label>
              <input placeholder="hello@name.com">
            </div>
            <div class="profile-item">
              <label>Password:</label>
              <input placeholder="AB********123">
            </div>
          </div>
          <div class="profile-btns">
            <div class="profile-item">
              <a class="change-email-btn">Change E-mail</a>
            </div>
            <div class="profile-item">
              <a class="change-email-btn-2">Change Password</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="section-block-2 section-block-11">
  <div class="system-decor">
    <div class="system-decor-1">My Liked Jobs</div>
    <a class="see-all-jobs"><i class="fas fa-chevron-left"></i>Back</a>
    <span class="system-circle-1"></span>
    <span class="system-circle-2"></span>
  </div>
</section>
<section class="profile-logos">
  <div class="profile-page-open-content">
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/atica.png">
      </div>
      <div class="logos-block">
        <p class="text-5">Interior Designer</p>
        <p class="text-11">
          <span>Founders: </span>3 days ago
        </p>
        <p class="text-5">Part Time</p>
        <p class="text-12">
          In Austin, Tx <img src="assets/images/heart.png">
        </p>
        <a class="text-6">More<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/atica.png">
      </div>
      <div class="logos-block">
        <p class="text-5">Interior Designer</p>
        <p class="text-11">
          <span>Founders: </span>3 days ago
        </p>
        <p class="text-5">Part Time</p>
        <p class="text-12">
          In Austin, Tx <img src="assets/images/heart.png">
        </p>
        <a class="text-6">More<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/utosia.png">
      </div>
      <div class="logos-block">
        <p class="text-5">Interior Designer</p>
        <p class="text-11">
          <span>Founders: </span>3 days ago
        </p>
        <p class="text-5">Part Time</p>
        <p class="text-12">
          In Austin, Tx <img src="assets/images/heart.png">
        </p>
        <a class="text-6">More<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/solaytic.png">
      </div>
      <div class="logos-block">
        <p class="text-5">Interior Designer</p>
        <p class="text-11">
          <span>Founders: </span>3 days ago
        </p>
        <p class="text-5">Part Time</p>
        <p class="text-12">
          In Austin, Tx <img src="assets/images/heart.png">
        </p>
        <a class="text-6">More<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/lighting.png">
      </div>
      <div class="logos-block">
        <p class="text-5">Interior Designer</p>
        <p class="text-11">
          <span>Founders: </span>3 days ago
        </p>
        <p class="text-5">Part Time</p>
        <p class="text-12">
          In Austin, Tx <img src="assets/images/heart.png">
        </p>
        <a class="text-6">More<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/atica.png">
      </div>
      <div class="logos-block">
        <p class="text-5">Interior Designer</p>
        <p class="text-11">
          <span>Founders: </span>3 days ago
        </p>
        <p class="text-5">Part Time</p>
        <p class="text-12">
          In Austin, Tx <img src="assets/images/heart.png">
        </p>
        <a class="text-6">More<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/utosia.png">
      </div>
      <div class="logos-block">
        <p class="text-5">Interior Designer</p>
        <p class="text-11">
          <span>Founders: </span>3 days ago
        </p>
        <p class="text-5">Part Time</p>
        <p class="text-12">
          In Austin, Tx <img src="assets/images/heart.png">
        </p>
        <a class="text-6">More<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/solaytic.png">
      </div>
      <div class="logos-block">
        <p class="text-5">Interior Designer</p>
        <p class="text-11">
          <span>Founders: </span>3 days ago
        </p>
        <p class="text-5">Part Time</p>
        <p class="text-12">
          In Austin, Tx <img src="assets/images/heart.png">
        </p>
        <a class="text-6">More<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/lighting.png">
      </div>
      <div class="logos-block">
        <p class="text-5">Interior Designer</p>
        <p class="text-11">
          <span>Founders: </span>3 days ago
        </p>
        <p class="text-5">Part Time</p>
        <p class="text-12">
          In Austin, Tx <img src="assets/images/heart.png">
        </p>
        <a class="text-6">More<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/atica.png">
      </div>
      <div class="logos-block">
        <p class="text-5">Interior Designer</p>
        <p class="text-11">
          <span>Founders: </span>3 days ago
        </p>
        <p class="text-5">Part Time</p>
        <p class="text-12">
          In Austin, Tx <img src="assets/images/heart.png">
        </p>
        <a class="text-6">More<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/utosia.png">
      </div>
      <div class="logos-block">
        <p class="text-5">Interior Designer</p>
        <p class="text-11">
          <span>Founders: </span>3 days ago
        </p>
        <p class="text-5">Part Time</p>
        <p class="text-12">
          In Austin, Tx <img src="assets/images/heart.png">
        </p>
        <a class="text-6">More<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/solaytic.png">
      </div>
      <div class="logos-block">
        <p class="text-5">Interior Designer</p>
        <p class="text-11">
          <span>Founders: </span>3 days ago
        </p>
        <p class="text-5">Part Time</p>
        <p class="text-12">
          In Austin, Tx <img src="assets/images/heart.png">
        </p>
        <a class="text-6">More<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/lighting.png">
      </div>
      <div class="logos-block">
        <p class="text-5">Interior Designer</p>
        <p class="text-11">
          <span>Founders: </span>3 days ago
        </p>
        <p class="text-5">Part Time</p>
        <p class="text-12">
          In Austin, Tx <img src="assets/images/heart.png">
        </p>
        <a class="text-6">More<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/solaytic.png">
      </div>
      <div class="logos-block">
        <p class="text-5">Interior Designer</p>
        <p class="text-11">
          <span>Founders: </span>3 days ago
        </p>
        <p class="text-5">Part Time</p>
        <p class="text-12">
          In Austin, Tx <img src="assets/images/heart.png">
        </p>
        <a class="text-6">More<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/lighting.png">
      </div>
      <div class="logos-block">
        <p class="text-5">Interior Designer</p>
        <p class="text-11">
          <span>Founders: </span>3 days ago
        </p>
        <p class="text-5">Part Time</p>
        <p class="text-12">
          In Austin, Tx <img src="assets/images/heart.png">
        </p>
        <a class="text-6">More<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</section>
<div class="profile-page-open-pagination">
  <a class="pagination-left" href="#"><i class="fas fa-angle-left"></i></a>
  <a class="active" href="#">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a class="pagination-right" href="#"><i class="fas fa-angle-right"></i></a>
</div>
<footer>
  <div class="footer-left">
    <div class="footer-item">
      <div class="footer-item-left">
        <img src="assets/images/img-1.png">
      </div>
      <div class="footer-item-right">
        <p class="text-9">Address</p>
        <p class="text-10">
          21 Hight Street Cleethorpes North East Lincolnshire DN35 8LA
        </p>
      </div>
    </div>
    <div class="footer-item">
      <div class="footer-item-left">
        <img src="assets/images/img-4.png">
      </div>
      <div class="footer-item-right">
        <p class="text-9">Mail</p>
        <p class="text-10">
          info@Velosport.com<br>
          info@Velosport.com
        </p>
      </div>
    </div>
    <div class="footer-item">
      <div class="footer-item-left">
        <img src="assets/images/img-29.png">
      </div>
      <div class="footer-item-right">
        <p class="text-9">Navigation</p>
        <p class="text-10">
          <a>Home</a>
          <a>About Us</a>
          <a>Contact Us</a>
          <a>Job</a>
        </p>
      </div>
    </div>
    <div class="footer-item">
      <div class="footer-item-left">
        <img src="assets/images/img-2.png">
      </div>
      <div class="footer-item-right">
        <p class="text-9">Call</p>
        <p class="text-10">
          <a>+1 (212) 661-2124</a>
        </p>
      </div>
    </div>
    <div class="footer-item">
      <div class="footer-item-left">
        <img src="assets/images/img-3.png">
      </div>
      <div class="footer-item-right">
        <p class="text-9">Social Medias</p>
        <p class="text-10">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-pinterest"></i>
          <i class="fab fa-twitter"></i>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-right">
    <p class="text-7">Request a List of headings</p>
    <p class="text-8">Please enter your email address to receive course titles, the topics will be emailed to you.</p>
    <div class="footer-input">
      <input placeholder="Name@gmail.com">
      <a class="footer-send-btn">Send</a>
    </div>
    <div class="footer-block">
      <label class="container">
        <p class="text-8 mb-0">Your email has been successfully registered, headlines will be sent to you soon.</p>
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</footer>
<div class="footer-content">@ 2020 PICANTE BY 00000 000000 ALL RIGHTS RESERVED</div>





