<form [formGroup]="companyInfoFormGroup">
  <p class="login-text-7">Private</p>
  <div class="line-block">
    <span class="line-1"></span>
    <span>OR</span>
    <span class="line-1"></span>
  </div>
  <div class="register-block-1">
    <div>
      <div class="login-item">
        <label class="logos-item-label">Company Name</label>
        <input formControlName="name" class="logos-item-input" placeholder="Company Name*">
      </div>
      <mat-form-field>
        <mat-select formControlName="industry" placeholder="Select industry" >
          <mat-option *ngFor="let industry of industries" [value]="industry">
            {{industry}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <div class="login-item">
        <label class="logos-item-label">Country</label>
        <select class="logos-item-input" (change)="changeCountry($event)">
          <option>Country*</option>
          <option>USA</option>
          <option>China</option>
        </select>
      </div>
    </div>
  </div>
  <div class="last-block-form">
    <div class="register-buttons">
<!--      <a class="reset-btn"><i class="fas fa-chevron-left"></i>Reset All</a>-->
    </div>
    <div class="register-buttons">
      <button class="login-btn" matStepperNext>Next<i class="fas fa-chevron-right"></i></button>
    </div>
  </div>
</form>

