<div class="work-info">
  <div class="work-header">
    <img src="../../../assets/images/decor-3.svg">
    <p class="work-text-1">Programing Skills</p>
  </div>
  <div class="work-list">
    <ul>
      <li>
        <img class="work-list-sqr" src="../../../assets/images/circle-check.svg">
        <p class="work-text-2">Autodesk 3d Max</p>
        <div>
          <p class="work-text-6">80%</p>
        </div>
        <div class="work-delete-edit">
          <a>
            <img src="../../../assets/images/edit-work.svg">
          </a>
          <a>
            <img src="../../../assets/images/delete-work.svg">
          </a>
        </div>
      </li>
      <li>
        <img class="work-list-sqr" src="../../../assets/images/circle-check.svg">
        <p class="work-text-2">Autodesk Autocad</p>
        <div>
          <p class="work-text-6">80%</p>
        </div>
        <div class="work-delete-edit">
          <a>
            <img src="../../../assets/images/edit-work.svg">
          </a>
          <a>
            <img src="../../../assets/images/delete-work.svg">
          </a>
        </div>
      </li>
      <li>
        <img class="work-list-sqr" src="../../../assets/images/circle-check.svg">
        <p class="work-text-2">Vray</p>
        <div>
          <p class="work-text-6">80%</p>
        </div>
        <div class="work-delete-edit">
          <a>
            <img src="../../../assets/images/edit-work.svg">
          </a>
          <a>
            <img src="../../../assets/images/delete-work.svg">
          </a>
        </div>
      </li>
      <li>
        <img class="work-list-sqr" src="../../../assets/images/circle-check.svg">
        <p class="work-text-2">Autodesk 3d Max</p>
        <div>
          <p class="work-text-6">80%</p>
        </div>
        <div class="work-delete-edit">
          <a>
            <img src="../../../assets/images/edit-work.svg">
          </a>
          <a>
            <img src="../../../assets/images/delete-work.svg">
          </a>
        </div>
      </li>
      <li>
        <img class="work-list-sqr" src="../../../assets/images/circle-check.svg">
        <p class="work-text-2">Autodesk 3d Max</p>
        <div>
          <p class="work-text-6">80%</p>
        </div>
        <div class="work-delete-edit">
          <a>
            <img src="../../../assets/images/edit-work.svg">
          </a>
          <a>
            <img src="../../../assets/images/delete-work.svg">
          </a>
        </div>
      </li>
      <li>
        <img class="work-list-sqr" src="../../../assets/images/circle-check.svg">
        <p class="work-text-2">Vray</p>
        <div>
          <p class="work-text-6">80%</p>
        </div>
        <div class="work-delete-edit">
          <a>
            <img src="../../../assets/images/edit-work.svg">
          </a>
          <a>
            <img src="../../../assets/images/delete-work.svg">
          </a>
        </div>
      </li>
      <li>
        <img class="work-list-sqr" src="../../../assets/images/circle-check.svg">
        <p class="work-text-2">Vray</p>
        <div>
          <p class="work-text-6">80%</p>
        </div>
        <div class="work-delete-edit">
          <a>
            <img src="../../../assets/images/edit-work.svg">
          </a>
          <a>
            <img src="../../../assets/images/delete-work.svg">
          </a>
        </div>
      </li>
      <li>
        <img class="work-list-sqr" src="../../../assets/images/circle-check.svg">
        <p class="work-text-2">Photoshop</p>
        <div>
          <p class="work-text-6">80%</p>
        </div>
        <div class="work-delete-edit">
          <a>
            <img src="../../../assets/images/edit-work.svg">
          </a>
          <a>
            <img src="../../../assets/images/delete-work.svg">
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="work-add-edit">
  <a class="work-add-edit-1">Add +</a>
  <a class="work-add-edit-2">Edit</a>
</div>
