/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/main.css';
/*@import '~@glidejs/glide/src/assets/sass/glide.core.scss';*/
/*@import '~@glidejs/glide/src/assets/sass/glide.theme.scss';*/


owl-carousel-o {
    width: 100% !important;
}

.owl-dots {
    display: none !important;
}

.owl-nav button {
    color: #FFF!important;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
