<header>
  <a class="number-text-1">+1 (000) 000-0000</a>
  <p>Awesome weeks at Timbro! All "Affengeil" pictures 50% reduced & free shipping from 80 € ONLY FOR A SHORT TIME</p>
  <div class="header-first-left">
    <a>Refer a Friend</a>
    <a>FAQ</a>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-pinterest"></i>
    <i class="fab fa-twitter"></i>
    <a class="logout" (click)="auth.logOut()" *ngIf="auth.loggedIn()">Logout</a>
  </div>
</header>
<nav class="home-header navbar navbar-expand-lg navbar-light">
  <div class="header-left">
    <a class="header-left-logo navbar-brand" href="index.html">
      Logo
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="header-right collapse navbar-collapse nav-menu" id="navbarSupportedContent">
    <ul>
      <li><a class="active" href="">Home</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>
    <div class="header-btns">
      <input placeholder="Search for ...">
      <a class="search-btn"><i class="fas fa-search"></i></a>
    </div>
    <div class="header-small-block">
      <img class="header-img" src="assets/images/user.png">
      <div class="dropdown language-dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          En
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">USA</a>
          <a class="dropdown-item" href="#">Ru</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="section-block-1">
  <div class="section-block-1-left">
    <p class="text-1">In This Together.</p>
    <p class="text-2">Keeping You Securely Connected wherever You are.</p>
    <a class="login-btn" (click)="router.navigate(['auth/login'])">Sign In</a>
    <a class="register-btn" (click)="router.navigate(['auth/user-registration'])">Sign Up</a>
  </div>
  <div class="section-block-1-right">
    <img src="assets/images/big.svg">
  </div>
</section>
<section class="section-block-2">
  <div class="system-decor">
    <div class="system-decor-1">Process Of using this system.</div>
    <span class="system-circle-1"></span>
    <span class="system-circle-2"></span>
  </div>
</section>
<section class="section-block-3">
  <div class="section-block-3-item">
    <img src="assets/images/img-5.png">
    <p class="text-3">Find Company!</p>
    <p class="text-4">Online Meetings. Training & Technical Support.</p>
  </div>
  <div class="section-block-3-item">
    <img src="assets/images/img-6.png">
    <p class="text-3">FFind Your Job!</p>
    <p class="text-4">Online Meetings. Training & Technical Support.</p>
  </div>
  <div class="section-block-3-item">
    <img src="assets/images/img-7.png">
    <p class="text-3">Pass Interview!</p>
    <p class="text-4">Online Meetings. Training & Technical Support.</p>
  </div>
  <div class="section-block-3-item">
    <img src="assets/images/img-8.png">
    <p class="text-3">Answer The Questions!</p>
    <p class="text-4">Online Meetings. Training & Technical Support.</p>
  </div>
  <div class="section-block-3-item">
    <img src="assets/images/img-9.png">
    <p class="text-3">Get your Work!</p>
    <p class="text-4">Online Meetings. Training & Technical Support.</p>
  </div>
</section>
<section class="section-block-4">
  <div class="system-decor">
    <div class="system-decor-1">Top Of Jobs By Company.</div>
    <span class="system-circle-1"></span>
    <span class="system-circle-2"></span>
  </div>
  <div class="logos">
    <div class="active logos-item">
      <div class="logos-item-img">
        <img src="assets/images/img-10.png">
      </div>
      <p class="text-5">Senior Product Designer</p>
      <p class="text-11">
        We are looking for an ambitious and driven product designer who is passionate about creating...
      </p>
      <a class="text-6">More<i class="fas fa-angle-right"></i></a>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/img-11.png">
      </div>
      <p class="text-5">Senior Product Designer</p>
      <p class="text-11">
        We are looking for an ambitious and driven product designer who is passionate about creating...
      </p>
      <a class="text-6">More<i class="fas fa-angle-right"></i></a>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/img-12.png">
      </div>
      <p class="text-5">Senior Product Designer</p>
      <p class="text-11">
        We are looking for an ambitious and driven product designer who is passionate about creating...
      </p>
      <a class="text-6">More<i class="fas fa-angle-right"></i></a>
    </div>
    <div class="logos-item">
      <div class="logos-item-img">
        <img src="assets/images/img-13.png">
      </div>
      <p class="text-5">Senior Product Designer</p>
      <p class="text-11">
        We are looking for an ambitious and driven product designer who is passionate about creating...
      </p>
      <a class="text-6">More<i class="fas fa-angle-right"></i></a>
    </div>
  </div>
</section>
<section class="section-block-2">
  <div class="system-decor">
    <div class="system-decor-1">Why Join Us?</div>
    <span class="system-circle-1"></span>
    <span class="system-circle-2"></span>
  </div>
</section>
<section class="section-block-3">
  <div class="section-block-3-item">
    <img src="assets/images/img-14.png">
    <p class="text-3">It's easy.</p>
  </div>
  <div class="section-block-3-item">
    <img src="assets/images/img-15.png">
    <p class="text-3">It's safe.</p>
  </div>
  <div class="section-block-3-item">
    <img src="assets/images/img-16.png">
    <p class="text-3">It's Fast.</p>
  </div>
  <div class="section-block-3-item">
    <img src="assets/images/img-17.png">
    <p class="text-3">It's Comfortable.</p>
  </div>
  <div class="section-block-3-item">
    <img src="assets/images/img-18.png">
    <p class="text-3">It's Effective.</p>
  </div>
</section>
<section class="section-block-5">
  <main class="main">
    <div class="glider-contain">
      <div class="glider">
        <div class="card-image">
          <iframe width="100%" height="500" src="https://www.youtube.com/embed/yKhh4k4_seA">
          </iframe>
          <span class="abs-elem-1"></span>
          <span class="abs-elem-2"></span>
          <span class="abs-elem-3"></span>
        </div>
        <div class="card-image">
          <img src="https://source.unsplash.com/1280x720/?nature" alt="Slider Image">
          <span class="abs-elem-1"></span>
          <span class="abs-elem-2"></span>
          <span class="abs-elem-3"></span>
        </div>
        <div class="card-image">
          <img src="https://source.unsplash.com/1280x720/?mountain" alt="Slider Image">
          <span class="abs-elem-1"></span>
          <span class="abs-elem-2"></span>
          <span class="abs-elem-3"></span>
        </div>
        <div class="card-image">
          <img src="https://source.unsplash.com/1280x720/?sport" alt="Slider Image">
          <span class="abs-elem-1"></span>
          <span class="abs-elem-2"></span>
          <span class="abs-elem-3"></span>
        </div>
        <div class="card-image">
          <img src="https://source.unsplash.com/1280x720/?human" alt="Slider Image">
          <span class="abs-elem-1"></span>
          <span class="abs-elem-2"></span>
          <span class="abs-elem-3"></span>
        </div>
        <div class="card-image">
          <img src="https://source.unsplash.com/1280x720/?building" alt="Slider Image">
          <span class="abs-elem-1"></span>
          <span class="abs-elem-2"></span>
          <span class="abs-elem-3"></span>
        </div>
        <div class="card-image">
          <img src="https://source.unsplash.com/1280x720/?food" alt="Slider Image">
          <span class="abs-elem-1"></span>
          <span class="abs-elem-2"></span>
          <span class="abs-elem-3"></span>
        </div>
        <div class="card-image">
          <img src="https://source.unsplash.com/1280x720/?beach" alt="Slider Image">
          <span class="abs-elem-1"></span>
          <span class="abs-elem-2"></span>
          <span class="abs-elem-3"></span>
        </div>
      </div>
      <span role="button" aria-label="Previous" class="glider-prev"><i class="fas fa-chevron-left"></i></span>
      <span role="button" aria-label="Next" class="glider-next"><i class="fas fa-chevron-right"></i></span>
      <span role="tablist" class="dots"></span>
    </div>
  </main>
</section>
<section class="section-block-6">
  <div class="system-decor">
    <div class="system-decor-1">Process Of using this system.</div>
    <span class="system-circle-1"></span>
    <span class="system-circle-2"></span>
  </div>
</section>
<section class="section-block-7">
  <div class="section-block-7-item">
    <img src="assets/images/img-20.png">
  </div>
  <div class="section-block-7-item">
    <img src="assets/images/img-19.png">
  </div>
  <div class="section-block-7-item">
    <img src="assets/images/img-21.png">
  </div>
  <div class="section-block-7-item">
    <img src="assets/images/img-22.png">
  </div>
  <div class="section-block-7-item">
    <img src="assets/images/img-23.png">
  </div>
  <div class="section-block-7-item">
    <img src="assets/images/img-24.png">
  </div>
  <div class="section-block-7-item">
    <img src="assets/images/img-25.png">
  </div>
  <div class="section-block-7-item">
    <img src="assets/images/img-26.png">
  </div>
  <div class="section-block-7-item">
    <img src="assets/images/img-27.png">
  </div>
  <div class="section-block-7-item">
    <img src="assets/images/img-28.png">
  </div>
</section>
<footer>
  <div class="footer-left">
    <div class="footer-item">
      <div class="footer-item-left">
        <img src="assets/images/img-1.png">
      </div>
      <div class="footer-item-right">
        <p class="text-9">Address</p>
        <p class="text-10">
          21 Hight Street Cleethorpes North East Lincolnshire DN35 8LA
        </p>
      </div>
    </div>
    <div class="footer-item">
      <div class="footer-item-left">
        <img src="assets/images/img-4.png">
      </div>
      <div class="footer-item-right">
        <p class="text-9">Mail</p>
        <p class="text-10">
          info@Velosport.com<br>
          info@Velosport.com
        </p>
      </div>
    </div>
    <div class="footer-item">
      <div class="footer-item-left">
        <img src="assets/images/img-29.png">
      </div>
      <div class="footer-item-right">
        <p class="text-9">Navigation</p>
        <p class="text-10">
          <a>Home</a>
          <a>About Us</a>
          <a>Contact Us</a>
        </p>
      </div>
    </div>
    <div class="footer-item">
      <div class="footer-item-left">
        <img src="assets/images/img-2.png">
      </div>
      <div class="footer-item-right">
        <p class="text-9">Call</p>
        <p class="text-10">
          <a>+1 (212) 661-2124</a>
        </p>
      </div>
    </div>
    <div class="footer-item">
      <div class="footer-item-left">
        <img src="assets/images/img-3.png">
      </div>
      <div class="footer-item-right">
        <p class="text-9">Social Medias</p>
        <p class="text-10">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-pinterest"></i>
          <i class="fab fa-twitter"></i>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-right">
    <p class="text-7">Request a List of headings</p>
    <p class="text-8">Please enter your email address to receive course titles, the topics will be emailed to you.</p>
    <div class="footer-input">
      <input placeholder="Name@gmail.com">
      <a class="footer-send-btn">Send</a>
    </div>
    <div class="footer-block">
      <label class="container">
        <p class="text-8 mb-0">Your email has been successfully registered, headlines will be sent to you soon.</p>
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</footer>
<div class="footer-content">@ 2020 PICANTE BY 00000 000000 ALL RIGHTS RESERVED</div>
